/*
    Example usage: 
    @include animation(10s, 5s, changecolour)
 */
/* ==========================================================================
   Font Resource
   ========================================================================== */
/* Google font*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");
@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_black_webfont.woff2") format("woff2"), url("../font/notosanskr_black_webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_bold_webfont.woff2") format("woff2"), url("../font/notosanskr_bold_webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_medium_webfont.woff2") format("woff2"), url("../font/notosanskr_medium_webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../../font/otosanskr_regular_webfont.woff2") format("woff2"), url("../../font/notosanskr_regular_webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_light_webfont.woff2") format("woff2"), url("../font/notosanskr_light_webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_thin_webfont.woff2") format("woff2"), url("../font/notosanskr_thin_webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

/* ==========================================================================
   Font setting
   ========================================================================== */
body {
  font-family: "Noto Sans KR", sans-serif; }

h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 142px;
  letter-spacing: -1.5px; }

h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -0.5px; }

h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: normal; }

h4 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.3px; }

h5 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: normal; }

h6 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px; }

b {
  font-weight: 700; }

@media only screen and (max-width: 480px) {
  #info_table {
    width: 100vw;
    height: calc(100vh - 320px);
    position: fixed !important;
    top: 320px;
    background: #fbfbfb;
    border-top: 1px solid #eee;
    overflow-x: hidden;
    overflow-y: auto; }
    #info_table::-webkit-scrollbar {
      width: 6px; }
    #info_table::-webkit-scrollbar-track {
      background: #f1f1f11f; }
    #info_table::-webkit-scrollbar-thumb {
      background: #b4b4b421; }
      #info_table::-webkit-scrollbar-thumb:hover {
        background: #4b4b4b3b; }
    #info_table .item_name {
      margin: 16px; }
      #info_table .item_name .info_label {
        width: calc(100vw - 32px);
        height: 32px;
        background: #f2f2f2; }
        #info_table .item_name .info_label span {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #888;
          font-weight: 300;
          text-transform: uppercase; }
        #info_table .item_name .info_label span {
          position: relative !important;
          top: 6px;
          left: 16px;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.4px; }
      #info_table .item_name h4 {
        margin: 16px;
        width: calc(100vw - 56px);
        line-height: 28px !important;
        font-size: 20px !important;
        color: #4b4b4b;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        word-break: break-all; }
    #info_table .item_brand {
      margin: 16px; }
      #info_table .item_brand .info_label {
        width: calc(100vw - 32px);
        height: 32px;
        background: #f2f2f2; }
        #info_table .item_brand .info_label span {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #888;
          font-weight: 300;
          text-transform: uppercase; }
        #info_table .item_brand .info_label span {
          position: relative !important;
          top: 6px;
          left: 16px;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.4px; }
      #info_table .item_brand h6 {
        margin: 16px;
        width: calc(100vw - 56px);
        line-height: 24px !important;
        font-size: 16px !important;
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    #info_table .item_size {
      margin: 16px; }
      #info_table .item_size .info_label {
        width: calc(100vw - 32px);
        height: 32px;
        background: #f2f2f2; }
        #info_table .item_size .info_label span {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #888;
          font-weight: 300;
          text-transform: uppercase; }
        #info_table .item_size .info_label span {
          position: relative !important;
          top: 6px;
          left: 16px;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.4px; }
      #info_table .item_size h6 {
        margin: 16px;
        width: calc(100vw - 56px);
        line-height: 24px !important;
        font-size: 16px !important;
        color: #777;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    #info_table .item_options {
      width: calc(100vw - 32px);
      margin: 16px; }
      #info_table .item_options .option_line {
        border-top: 1px solid #ced6e0;
        margin: 16px; }
      #info_table .item_options .item_option {
        /* selector */ }
        #info_table .item_options .item_option span {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.4px;
          margin: 16px 16px 8px 16px;
          color: #555;
          display: block;
          font-weight: 700; }
        #info_table .item_options .item_option .dropdown {
          position: relative !important;
          -webkit-box-shadow: 0px 1px 4px rgba(22, 65, 76, 0.24);
          -moz-box-shadow: 0px 1px 4px rgba(22, 65, 76, 0.24);
          box-shadow: 0px 1px 4px rgba(22, 65, 76, 0.24);
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: calc(100vw - 32px);
          height: 48px;
          display: block;
          border-radius: 4px;
          padding-right: 24px;
          background: #fafafa;
          /* deco-arrow */ }
          #info_table .item_options .item_option .dropdown:before {
            position: absolute !important;
            top: 24px;
            right: 16px;
            width: 0px;
            height: 0px;
            content: '';
            z-index: 2;
            border: 4px dashed;
            border-color: #888888 transparent;
            pointer-events: none;
            border-top-style: solid;
            border-bottom: none; }
          #info_table .item_options .item_option .dropdown .dropdown-select {
            width: calc(100vw - 32px);
            height: 48px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 4px;
            border: none;
            margin-bottom: 16px;
            padding: 0 24px;
            cursor: pointer;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.1px;
            text-align: right;
            color: #7790A9; }
            #info_table .item_options .item_option .dropdown .dropdown-select:focus {
              outline: none; } }
