/*
    Example usage: 
    @include animation(10s, 5s, changecolour)
 */
/* ==========================================================================
   Font Resource
   ========================================================================== */
/* Google font*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");
@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_black_webfont.woff2") format("woff2"), url("../font/notosanskr_black_webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_bold_webfont.woff2") format("woff2"), url("../font/notosanskr_bold_webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_medium_webfont.woff2") format("woff2"), url("../font/notosanskr_medium_webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../../font/otosanskr_regular_webfont.woff2") format("woff2"), url("../../font/notosanskr_regular_webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_light_webfont.woff2") format("woff2"), url("../font/notosanskr_light_webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_thin_webfont.woff2") format("woff2"), url("../font/notosanskr_thin_webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

/* ==========================================================================
   Font setting
   ========================================================================== */
body {
  font-family: "Noto Sans KR", sans-serif; }

h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 142px;
  letter-spacing: -1.5px; }

h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -0.5px; }

h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: normal; }

h4 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.3px; }

h5 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: normal; }

h6 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px; }

b {
  font-weight: 700; }

@media only screen and (min-width: 1024px) {
  #img_viewer {
    width: calc(100vw - 400px);
    height: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    background: #fff; }
    #img_viewer .btn_fs {
      width: 40px;
      height: 40px;
      -webkit-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
      -moz-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
      box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
      position: relative;
      display: block;
      border-radius: 4px;
      cursor: pointer;
      position: absolute !important;
      top: 16px;
      left: 16px;
      background: #fafafa;
      display: none;
      visibility: hidden; }
      #img_viewer .btn_fs:hover {
        -webkit-box-shadow: 0px 4px 16px rgba(22, 65, 76, 0.32);
        -moz-box-shadow: 0px 4px 16px rgba(22, 65, 76, 0.32);
        box-shadow: 0px 4px 16px rgba(22, 65, 76, 0.32); }
        #img_viewer .btn_fs:hover .btn_icon {
          fill: #67AFC2; }
        #img_viewer .btn_fs:hover .btn_name {
          color: #67AFC2; }
      #img_viewer .btn_fs:active {
        -webkit-box-shadow: 0px 2px 4px rgba(22, 65, 76, 0.48);
        -moz-box-shadow: 0px 2px 4px rgba(22, 65, 76, 0.48);
        box-shadow: 0px 2px 4px rgba(22, 65, 76, 0.48); }
        #img_viewer .btn_fs:active .btn_icon {
          fill: #519EB2; }
        #img_viewer .btn_fs:active .btn_name {
          color: #519EB2; }
      #img_viewer .btn_fs .btn_icon {
        position: absolute !important;
        top: 8px;
        left: 8px;
        width: 24px;
        height: 24px;
        display: block;
        fill: #68839F; }
      #img_viewer .btn_fs .btn_name {
        position: absolute !important;
        top: 9px;
        right: 11px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.1px;
        display: none;
        float: right;
        text-align: right; }
      #img_viewer .btn_fs:hover {
        width: 116px;
        background: #fff; }
      #img_viewer .btn_fs:active {
        width: 116px;
        background: #eee; }
        #img_viewer .btn_fs:active .btn_name {
          display: block; }
    #img_viewer .btn_exitfs {
      width: 40px;
      height: 40px;
      -webkit-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
      -moz-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
      box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
      position: relative;
      display: block;
      border-radius: 4px;
      cursor: pointer;
      position: absolute !important;
      top: 16px;
      left: 16px;
      background: #fafafa;
      display: none;
      visibility: hidden; }
      #img_viewer .btn_exitfs:hover {
        -webkit-box-shadow: 0px 4px 16px rgba(22, 65, 76, 0.32);
        -moz-box-shadow: 0px 4px 16px rgba(22, 65, 76, 0.32);
        box-shadow: 0px 4px 16px rgba(22, 65, 76, 0.32); }
        #img_viewer .btn_exitfs:hover .btn_icon {
          fill: #67AFC2; }
        #img_viewer .btn_exitfs:hover .btn_name {
          color: #67AFC2; }
      #img_viewer .btn_exitfs:active {
        -webkit-box-shadow: 0px 2px 4px rgba(22, 65, 76, 0.48);
        -moz-box-shadow: 0px 2px 4px rgba(22, 65, 76, 0.48);
        box-shadow: 0px 2px 4px rgba(22, 65, 76, 0.48); }
        #img_viewer .btn_exitfs:active .btn_icon {
          fill: #519EB2; }
        #img_viewer .btn_exitfs:active .btn_name {
          color: #519EB2; }
      #img_viewer .btn_exitfs .btn_icon {
        position: absolute !important;
        top: 8px;
        left: 8px;
        width: 24px;
        height: 24px;
        display: block;
        fill: #68839F; }
      #img_viewer .btn_exitfs .btn_name {
        position: absolute !important;
        top: 9px;
        right: 11px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: "Noto Sans KR", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.1px;
        display: none;
        float: right;
        text-align: right; }
      #img_viewer .btn_exitfs:hover {
        width: 142px;
        background: #fff; }
      #img_viewer .btn_exitfs:active {
        width: 142px;
        background: #eee; }
        #img_viewer .btn_exitfs:active .btn_name {
          display: block; }
    #img_viewer .btn_viewerClose {
      display: none;
      visibility: hidden; }
    #img_viewer .main_img {
      position: absolute !important;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) !important;
      -moz-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
      transform: translate(-50%, -50%) !important; }
      #img_viewer .main_img #img_sample {
        width: 50vw; }
    #img_viewer #img_player {
      position: absolute !important;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) !important;
      -moz-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
      transform: translate(-50%, -50%) !important; }
      #img_viewer #img_player .btn_player {
        width: 32px;
        height: 32px;
        position: absolute !important;
        top: -50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) !important;
        -moz-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important;
        -webkit-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
        -moz-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
        box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
        background: linear-gradient(45deg, #324e63, #383e44);
        border-radius: 50%;
        display: none;
        visibility: hidden;
        cursor: pointer; }
        #img_viewer #img_player .btn_player svg {
          position: absolute !important;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) !important;
          -moz-transform: translate(-50%, -50%) !important;
          -ms-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
          fill: #fafafa; }
        #img_viewer #img_player .btn_player:hover {
          background: linear-gradient(45deg, #415e73, #40474e);
          fill: #fff; }
        #img_viewer #img_player .btn_player:active {
          background: linear-gradient(45deg, #253E52, #2D3236);
          fill: #eee; }
      #img_viewer #img_player .btn_pause {
        width: 32px;
        height: 32px;
        position: absolute !important;
        top: -50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) !important;
        -moz-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important;
        -webkit-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
        -moz-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
        box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
        background: linear-gradient(90deg, #67AFC2, #68839F);
        border-radius: 50%;
        display: none;
        visibility: hidden;
        cursor: pointer; }
        #img_viewer #img_player .btn_pause svg {
          position: absolute !important;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) !important;
          -moz-transform: translate(-50%, -50%) !important;
          -ms-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
          fill: #fafafa; }
        #img_viewer #img_player .btn_pause:hover {
          background: linear-gradient(45deg, #70B9CC, #7790A9);
          fill: #fff; }
        #img_viewer #img_player .btn_pause:active {
          background: linear-gradient(45deg, #519EB2, #5C7898);
          fill: #eee; }
      #img_viewer #img_player .player_text {
        position: absolute !important;
        top: 7px;
        left: 36px;
        width: 130px;
        float: left;
        text-align: center; }
        #img_viewer #img_player .player_text span {
          font-family: "Noto Sans KR", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.4px;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: #68839F; }
      #img_viewer #img_player .player_bg {
        width: 202px;
        height: 32px;
        display: block; }
    #img_viewer .viewer_logo {
      position: fixed !important;
      bottom: 16px;
      left: 16px; }
      #img_viewer .viewer_logo img {
        width: 32px;
        height: 24px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; } }
