/*
    Example usage: 
    @include animation(10s, 5s, changecolour)
 */
/* ==========================================================================
   Font Resource
   ========================================================================== */
/* Google font*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");
@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_black_webfont.woff2") format("woff2"), url("../font/notosanskr_black_webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_bold_webfont.woff2") format("woff2"), url("../font/notosanskr_bold_webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_medium_webfont.woff2") format("woff2"), url("../font/notosanskr_medium_webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../../font/otosanskr_regular_webfont.woff2") format("woff2"), url("../../font/notosanskr_regular_webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_light_webfont.woff2") format("woff2"), url("../font/notosanskr_light_webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_thin_webfont.woff2") format("woff2"), url("../font/notosanskr_thin_webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

/* ==========================================================================
   Font setting
   ========================================================================== */
body {
  font-family: "Noto Sans KR", sans-serif; }

h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 142px;
  letter-spacing: -1.5px; }

h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -0.5px; }

h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: normal; }

h4 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.3px; }

h5 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: normal; }

h6 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px; }

b {
  font-weight: 700; }

#section_01 .sub_title_01 {
  position: absolute !important;
  top: 12%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #section_01 .sub_title_01 span {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-size: 1.4vw !important;
    color: #4b4b4b; }

#section_01 .main_title_01 {
  position: absolute !important;
  top: 22%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #section_01 .main_title_01 h2 {
    font-size: 4.8vw !important;
    color: #4b4b4b; }

#section_01 .btn_demo_wrap_01 {
  position: absolute !important;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  width: 16vw;
  height: 3.6vw;
  -webkit-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
  -moz-box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
  box-shadow: 0px 4px 8px rgba(22, 65, 76, 0.32);
  background: linear-gradient(45deg, #324e63, #383e44); }
  #section_01 .btn_demo_wrap_01 .btn_demo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 16vw;
    height: 3.6vw;
    position: absolute !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
    font-weight: 500;
    line-height: 3.65vw;
    text-transform: uppercase;
    cursor: pointer; }
  #section_01 .btn_demo_wrap_01:hover {
    background: linear-gradient(45deg, #415e73, #40474e);
    -webkit-box-shadow: 0px 4px 16px rgba(22, 65, 76, 0.32);
    -moz-box-shadow: 0px 4px 16px rgba(22, 65, 76, 0.32);
    box-shadow: 0px 4px 16px rgba(22, 65, 76, 0.32); }
  #section_01 .btn_demo_wrap_01:active {
    background: linear-gradient(45deg, #253E52, #2D3236);
    -webkit-box-shadow: 0px 2px 4px rgba(22, 65, 76, 0.48);
    -moz-box-shadow: 0px 2px 4px rgba(22, 65, 76, 0.48);
    box-shadow: 0px 2px 4px rgba(22, 65, 76, 0.48); }

#section_01 .main_img_01 {
  position: absolute !important;
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  -webkit-animation-name: img_ani;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-name: img_ani;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-name: img_ani;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-name: img_ani;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  z-index: 10; }

@-webkit-keyframes img_ani {
  from {
    top: 62%; }
  to {
    top: 64%; } }

@-moz-keyframes img_ani {
  from {
    top: 62%; }
  to {
    top: 64%; } }

@-ms-keyframes img_ani {
  #section_01 .main_img_01 from {
    top: 62%; }
  #section_01 .main_img_01 to {
    top: 64%; } }

@keyframes img_ani {
  from {
    top: 62%; }
  to {
    top: 64%; } }
  #section_01 .main_img_01 img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 18vw;
    height: 18vw; }

#section_01 .main_img_shadow_01 {
  position: absolute !important;
  top: 82%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  -webkit-animation-name: img_shadow;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-name: img_shadow;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-name: img_shadow;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-name: img_shadow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes img_shadow {
  from {
    opacity: 1; }
  to {
    opacity: 0.72; } }

@-moz-keyframes img_shadow {
  from {
    opacity: 1; }
  to {
    opacity: 0.72; } }

@-ms-keyframes img_shadow {
  #section_01 .main_img_shadow_01 from {
    opacity: 1; }
  #section_01 .main_img_shadow_01 to {
    opacity: 0.72; } }

@keyframes img_shadow {
  from {
    opacity: 1; }
  to {
    opacity: 0.72; } }
  #section_01 .main_img_shadow_01 img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 300px;
    height: 52px; }
