/*
    Example usage: 
    @include animation(10s, 5s, changecolour)
 */
/* ==========================================================================
   Font Resource
   ========================================================================== */
/* Google font*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");
@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_black_webfont.woff2") format("woff2"), url("../font/notosanskr_black_webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_bold_webfont.woff2") format("woff2"), url("../font/notosanskr_bold_webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_medium_webfont.woff2") format("woff2"), url("../font/notosanskr_medium_webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../../font/otosanskr_regular_webfont.woff2") format("woff2"), url("../../font/notosanskr_regular_webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_light_webfont.woff2") format("woff2"), url("../font/notosanskr_light_webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Noto Sans KR';
  src: url("../font/notosanskr_thin_webfont.woff2") format("woff2"), url("../font/notosanskr_thin_webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

/* ==========================================================================
   Font setting
   ========================================================================== */
body {
  font-family: "Noto Sans KR", sans-serif; }

h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 96px;
  font-weight: 700;
  line-height: 142px;
  letter-spacing: -1.5px; }

h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -0.5px; }

h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: normal; }

h4 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.3px; }

h5 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: normal; }

h6 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px; }

b {
  font-weight: 700; }

::-webkit-scrollbar {
  width: 1px;
  height: 1px; }

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px; }

.horizontal-scroll {
  width: 100vh;
  height: 100vw;
  -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0) !important;
  -moz-transform: rotate(-90deg) translate3d(0, -100vh, 0) !important;
  -ms-transform: rotate(-90deg) translate3d(0, -100vh, 0) !important;
  transform: rotate(-90deg) translate3d(0, -100vh, 0) !important;
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden; }
  .horizontal-scroll > * {
    -webkit-transform: rotate(90deg) translate3d(0, -100vh, 0) !important;
    -moz-transform: rotate(90deg) translate3d(0, -100vh, 0) !important;
    -ms-transform: rotate(90deg) translate3d(0, -100vh, 0) !important;
    transform: rotate(90deg) translate3d(0, -100vh, 0) !important;
    transform-origin: left top; }
  .horizontal-scroll__block {
    width: 100vw;
    height: 100vh;
    margin-top: calc(100vw - 100vh); }
    .horizontal-scroll__block:first-child {
      margin-top: 0 !important; }
    .horizontal-scroll__block:nth-child(2) {
      width: 130vw;
      height: 100vh; }
    .horizontal-scroll__block:nth-child(3) {
      margin-top: calc(130vw - 100vh) !important; }
    .horizontal-scroll__block .background {
      position: absolute !important;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }

#pageStart {
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: none; }

#navis #left_navigation {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 6vw;
  height: 100vh;
  -webkit-box-shadow: 2px 0px 8px rgba(22, 65, 76, 0.24);
  -moz-box-shadow: 2px 0px 8px rgba(22, 65, 76, 0.24);
  box-shadow: 2px 0px 8px rgba(22, 65, 76, 0.24);
  background: #fff;
  border-left: 1px solid #eee;
  z-index: 1000; }
  #navis #left_navigation .btn_home {
    width: 5vw;
    height: 5vw;
    position: absolute !important;
    top: 0.5vw;
    left: 0.5vw;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    border: 3px solid #4b4b4b;
    display: block;
    cursor: pointer; }
    #navis #left_navigation .btn_home .btn_text {
      position: absolute !important;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) !important;
      -moz-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
      transform: translate(-50%, -50%) !important;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.2px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 1.1vw;
      padding: 0.5vw;
      text-decoration: none;
      text-transform: uppercase;
      color: #4b4b4b;
      font-weight: 700; }
    #navis #left_navigation .btn_home:hover, #navis #left_navigation .btn_home:active {
      width: 5vw;
      height: 5vw;
      background: #4b4b4b; }
      #navis #left_navigation .btn_home:hover .btn_text, #navis #left_navigation .btn_home:active .btn_text {
        color: #fafafa; }
  #navis #left_navigation .nav_title {
    position: absolute !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important; }
    #navis #left_navigation .nav_title img {
      width: 1.6vw;
      height: 12vw;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
  #navis #left_navigation .btn_logo {
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 6vw;
    height: 5.6vw;
    background: #519EB2;
    cursor: pointer; }
    #navis #left_navigation .btn_logo .img_wrap img {
      position: absolute !important;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) !important;
      -moz-transform: translate(-50%, -50%) !important;
      -ms-transform: translate(-50%, -50%) !important;
      transform: translate(-50%, -50%) !important;
      width: 32px;
      height: 25px; }
    #navis #left_navigation .btn_logo:hover, #navis #left_navigation .btn_logo:active {
      background: #67AFC2; }

#navis #bottom_navigation {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: calc(48% - 1.6vw);
  height: 5.6vw;
  background: #70B9CC;
  z-index: 500; }
  #navis #bottom_navigation .bottom_text_wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute !important;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    display: inline-block; }
    #navis #bottom_navigation .bottom_text_wrap .bottom_text {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      font-size: 1vw;
      color: #fafafa;
      font-weight: 400; }
  #navis #bottom_navigation .bottom_icon_wrap {
    position: absolute !important;
    top: 50%;
    right: 3.2%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important; }
    #navis #bottom_navigation .bottom_icon_wrap .bottom_icon {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 2vw;
      height: 2vw;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      fill: #fafafa; }
  #navis #bottom_navigation::after {
    position: fixed !important;
    bottom: -5.6vw;
    left: 0;
    width: calc(48% - 1.6vw);
    height: 5.6vw;
    -webkit-transition: bottom 0.3s;
    -moz-transition: bottom 0.3s;
    -ms-transition: bottom 0.3s;
    -o-transition: bottom 0.3s;
    content: "";
    background: #B8E7E2;
    z-index: -1; }
  #navis #bottom_navigation:hover::after, #navis #bottom_navigation:active::after {
    position: fixed !important;
    bottom: 0;
    left: 0; }
  #navis #bottom_navigation:hover .bottom_text, #navis #bottom_navigation:active .bottom_text {
    color: #519EB2; }
  #navis #bottom_navigation:hover .bottom_icon, #navis #bottom_navigation:active .bottom_icon {
    fill: #519EB2; }

#navis #bg_check {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }
  #navis #bg_check .line {
    position: absolute !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    width: 100vw;
    height: 2px;
    background: #fafafa; }
  #navis #bg_check .square {
    width: 20vw;
    height: 100vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    border: 1px solid #fafafa;
    background: #fff; }
