// Modules and Variables
@import './base/_mixins',
        './base/_color',
        './base/_typography';

// Partials
@import './partials/_extends';

#section_04{

    .main_wrap_04{
        @include position(absolute, 0, null, null, 0%);
        @include size(80vw,100vh);

        .main_title_wrap_04{
            @include position(relative, 24%, null, null, 16%);
            h2{
                @include no-select;
                font-size: 4.4vw;
                line-height: 5.6vw;
                font-style: italic;
                color:#4b4b4b;
            }

        }
        .sub_title_wrap_04{
            @include position(relative, 29%, null, null, 18%);
            .sub_title{
                @include no-select;
                margin-bottom: 2.4vw;
                font-size: 1.6vw;
                line-height: 2.8vw;
                color:#333;
            }
        }
    }

    .sub_wrap_04{
        @include position(absolute, null, -10%, 16%, null);
        @include transform(translate(-50%, -50%));

        .btn_demo_wrap_04{
            @include size(16vw, 3.6vw);
            @include box-shadow(0px, 4px, 8px, rgba(22,65,76,0.32));
            background: btnColor(darkColor);
            float: left;
            display: inline-block;
            margin-right: 32px;
            .btn_demo{
                @include no-select;
                @include size(16vw, 3.6vw);
                @include position(absolute, null, null, null, null);
                text-align: center;
                text-decoration: none;
                color:#fff;
                font-size: 1vw;
                font-weight: $medium;
                line-height: 3.65vw;
                text-transform: uppercase;
                cursor: pointer;
            }
            &:hover{
                background: btnColor(darkColor_hover);
                @include box-shadow(0px, 4px, 16px, rgba(22,65,76,0.32));
            }
            &:active{
                background: btnColor(darkColor_active);
                @include box-shadow(0px, 2px, 4px, rgba(22,65,76,0.48));
            }
        }
        
        .btn_contact_wrap_04{
            @include size(16vw, 3.6vw);
            @include box-shadow(0px, 4px, 8px, rgba(22,65,76,0.32));
            background: color(mainColor);
            display: inline-block;
            .btn_contact{
                @include no-select;
                @include size(16vw, 3.6vw);
                @include position(absolute, null, null, null, null);
                text-align: center;
                text-decoration: none;
                color:#fff;
                font-size: 1vw;
                font-weight: $medium;
                line-height: 3.65vw;
                text-transform: uppercase;
                cursor: pointer;
            }
            &:hover{
                background: btnColor(mainColor_light);
                @include box-shadow(0px, 4px, 16px, rgba(22,65,76,0.32));
            }
            &:active{
                background: btnColor(mainColor_dark);
                @include box-shadow(0px, 2px, 4px, rgba(22,65,76,0.48));
            }
        }  
    }
}