// Modules and Variables
@import './base/_mixins',
        './base/_color',
        './base/_typography';

// Partials
@import './partials/_extends';

#section_01{
    
    .sub_title_01{
        @include position(absolute, 12%, null, null, 50%);
        @include transform(translate(-50%, -50%));
        @include no-select;
        span{
            @include subtitle_01;
            font-size: 1.4vw !important;
            color:#4b4b4b;
        }
    }
    .main_title_01{
        @include position(absolute, 22%, null, null, 50%);
        @include transform(translate(-50%, -50%));
        @include no-select;
        h2{
            font-size: 4.8vw !important;
            color:#4b4b4b;
        }
    }

    .btn_demo_wrap_01{
        @include position(absolute, 35%, null, null, 50%);
        @include transform(translate(-50%, -50%));
        @include size(16vw, 3.6vw);
        @include box-shadow(0px, 4px, 8px, rgba(22,65,76,0.32));
        background: btnColor(darkColor);
        .btn_demo{
            @include no-select;
            @include size(16vw, 3.6vw);
            @include position(absolute, 50%, null, null, 50%);
            @include transform(translate(-50%, -50%));
            text-align: center;
            text-decoration: none;
            color:#fff;
            font-size: 1vw;
            font-weight: $medium;
            line-height: 3.65vw;
            text-transform: uppercase;
            cursor: pointer;
        }
        &:hover{
            background: btnColor(darkColor_hover);
            @include box-shadow(0px, 4px, 16px, rgba(22,65,76,0.32));
        }
        &:active{
            background: btnColor(darkColor_active);
            @include box-shadow(0px, 2px, 4px, rgba(22,65,76,0.48));
        }
    }

    .main_img_01{
        @include position(absolute, 62%, null, null, 50%);
        @include transform(translate(-50%, -50%));
        @include animation (img_ani, null, 1s, ease-in-out, infinite, alternate);
        @include keyframes(img_ani){
            from{
                top: 62%;
            }
            to{
                top: 64%;
            }
        }
        z-index: 10;        
        img{
            @include no-select;
            @include size(18vw, 18vw);
        }
    }

    .main_img_shadow_01{
        @include position(absolute, 82%, null, null, 50%);
        @include transform(translate(-50%, -50%));
        @include animation (img_shadow, null, 1s, ease-in-out, infinite, alternate);
        @include keyframes(img_shadow){
            from{
                opacity: 1;
            }
            to{
                opacity: 0.72;
            }
        }
        img{
            @include no-select;
            @include size(300px, 52px);
        }
    }
}