// Modules and Variables
@import './base/_mixins',
        './base/_color',
        './base/_typography';

// Partials
@import './partials/_extends';

#section_02{

    .main_img_wrap_02{
        @include position(absolute, 50%, null, null, 12%);
        @include transform(translate(-50%, -50%));
        @include animation (card_01, null, 1s, ease-in-out, infinite, alternate);
        @include keyframes(card_01){
            from{
                top: 49.5%;
            }
            to{
                top: 50%;
            }
        }
        z-index: 10;    
        .rect_front{
            @include position(absolute, 40%, null, null, 60%);
            @include transform(translate(-50%, -50%));
            @include size(20vw, 24vw);
            @include box-shadow(0px, 4px, 16px, rgba(22,65,76,0.32));
            border-radius: 4px;
            background: bgColor(primary);
            img{
                @include position(absolute, 50%, null, null, 50%);
                @include transform(translate(-50%, -50%));
                @include size(20vw, 24vw);
                border-radius: 4px;
            }
        }
        .rect_back{
            @include size(20vw, 24vw);
            @include box-shadow(0px, 4px, 16px, rgba(22,65,76,0.32));
            border-radius: 4px;
            background: linear-gradient(45deg, #68839F, #CDE7ED);
        }
    }
    .main_title_wrap_02{
        @include position(absolute, 48%, null, null, 48%);
        @include transform(translate(-50%, -50%));
        span{
            @include subtitle_01;
            @include no-select;
            text-decoration: underline;
            font-style: italic;
            color:#4b4b4b;
            margin-bottom: 8px;
        }

        h2{
            @include no-select;
            font-size: 3.4vw;
            line-height: 5.6vw;
            color:#333;
            g{  
                font-weight: $black;
                background: linear-gradient(45deg, #88CDDF, #416183);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;  
            }
        }
    }
    .img_top_wrap_02 {
        @include position(absolute, 34%, 4%, null, null);
        @include transform(translate(-50%, -50%));
        @include animation (card_02, null, 1s, ease-in-out, infinite, alternate);
        @include keyframes(card_02){
            from{
                top: 33.5%;
            }
            to{
                top: 34.5%;
            }
        }

        .rect_front{
            @include position(absolute, 40%, null, null, 60%);
            @include transform(translate(-50%, -50%));
            @include size(16vw, 20vw);
            @include box-shadow(0px, 4px, 16px, rgba(22,65,76,0.32));
            border-radius: 4px;
            background: bgColor(primary);
            img{
                @include position(absolute, 50%, null, null, 50%);
                @include transform(translate(-50%, -50%));
                @include size(16vw, 20vw);
                border-radius: 4px;
            }
        }
        .rect_back{
            @include size(16vw, 20vw);
            @include box-shadow(0px, 4px, 16px, rgba(22,65,76,0.32));
            border-radius: 4px;
            background: linear-gradient(45deg, #975031, #E4AC7A);
        }
    }

    .img_bottom_wrap_02 {
        @include position(absolute, 80%, 24%, null, null);
        @include transform(translate(-50%, -50%));
        @include animation (card_03, null, 1s, ease-in-out, infinite, alternate);
        @include keyframes(card_03){
            from{
                top: 79.5%;
            }
            to{
                top: 80%;
            }
        }
        .rect_front{
            @include position(absolute, 40%, null, null, 60%);
            @include transform(translate(-50%, -50%));
            @include size(10vw, 12vw);
            @include box-shadow(0px, 4px, 16px, rgba(22,65,76,0.32));
            border-radius: 4px;
            background: bgColor(primary);
            img{
                @include position(absolute, 50%, null, null, 50%);
                @include transform(translate(-50%, -50%));
                @include size(6vw, 10vw);
            }
        }
        .rect_back{
            @include size(10vw, 12vw);
            @include box-shadow(0px, 4px, 16px, rgba(22,65,76,0.32));

            border-radius: 4px;
            background: linear-gradient(45deg, #463197, #7AABE4);
        }
    }
}