// Modules and Variables
@import './base/_mixins',
        './base/_color',
        './base/_typography';

// Partials
@import './partials/_extends';

#section_03{

    .main_wrap_03 {
        @include position(absolute, 0, null, null, 0%);
        @include size(50vw,100vh);
        .main_title_wrap{
            @include position(relative, 14%, null, null, 16%);
            h2{
                @include no-select;
                font-size: 4.4vw;
                line-height: 5.6vw;
                font-style: italic;
                color:color(mainColor_dark);
            }
            
        }
        .sub_title_wrap{
            @include position(relative, 20%, null, null, 18%);
            .sub_title_01{
                @include no-select;
                margin-bottom: 2.4vw;
                font-size: 1.6vw;
                line-height: 2.8vw;
                color:#333;
            }
            .descLine{
                @include position(relative, 50%, null, null, 34%);
                @include transform(translate(-50%, -50%));
                @include size(34vw,2px);
                background: color(mainColor);
                margin-bottom: 2.4vw;
            }
            .sub_title_02{
                @include no-select;
                font-size: 1.2vw;
                line-height: 2.4vw;
                color:#4b4b4b;
            }
        }
    }

    .img_wrap_03{
        @include position(absolute, 50%, 0%, null, null);
        @include transform(translate(-50%, -50%));

        img{
            @include box-shadow(4px, 0px, 32px, rgba(22,65,76,0.24));
            @include no-select;
            height: 60vh;
            border-radius: 8px;
        }
    }
}