// Modules and Variables
@import './base/_mixins',
        './base/_color',
        './base/_typography';

// Partials
@import './partials/_extends';


@media only screen and (min-width: 1024px) {

    #img_viewer {
        @include size(calc(100vw - 400px), 100%);
        @include position(fixed, 0, null, null, 0);
        background: bgColor(primary);


        //btn_fullscreen
        .btn_fs{
            @include common_viewerBtns;
            @include position(absolute, 16px, null, null, 16px);
            background: btnColor(whiteColor);
            display:none;
            visibility: hidden;

            &:hover{
                width: 116px;
                background: btnColor(whiteColor_hover);
            }
            &:active{
                width: 116px;
                background: btnColor(whiteColor_active);
                .btn_name {
                    display: block;
                }
            }
        }

        //btn_Exit fullscreen
        .btn_exitfs{
            @include common_viewerBtns;
            @include position(absolute, 16px, null, null, 16px);
            background: btnColor(whiteColor);
            display:none;
            visibility: hidden;

            &:hover{
                width: 142px;
                background: btnColor(whiteColor_hover);
            }
            &:active{
                width: 142px;
                background: btnColor(whiteColor_active);
                .btn_name {
                    display: block;
                }
            }
        }

        //btn_close
        .btn_viewerClose{
            display: none;
            visibility: hidden;
        }

        .main_img{
            @include position(absolute, 50%, null, null, 50%);
            @include transform(translate(-50%, -50%));

            #img_sample{
                @include size(50vw, null);
            }
        }

        #img_player{
            @include position(absolute, null, null, 0px, 50%);
            @include transform(translate(-50%, -50%));

            .btn_player {
                @include size(32px, 32px);
                @include position(absolute, -50%, null, null, 50%);
                @include transform(translate(-50%, -50%));
                @include box-shadow(0px, 4px, 8px, rgba(22,65,76,0.32));

                background: btnColor(darkColor);
                border-radius: 50%;
                display:none;
                visibility: hidden;
                cursor:pointer;

                svg {
                    @include position(absolute, 50%, null, null, 50%);
                    @include transform(translate(-50%, -50%));
                    fill: btnColor(whiteColor);
                }

                &:hover{
                    background: btnColor(darkColor_hover);
                    fill: btnColor(whiteColor_hover);
                }
                &:active{
                    background: btnColor(darkColor_active);
                    fill: btnColor(whiteColor_active);
                }
            }

            .btn_pause {
                @include size(32px, 32px);
                @include position(absolute, -50%, null, null, 50%);
                @include transform(translate(-50%, -50%));
                @include box-shadow(0px, 4px, 8px, rgba(22,65,76,0.32));

                background: linear-gradient(90deg, #67AFC2, #68839F);
                border-radius: 50%;
                display:none;
                visibility: hidden;
                cursor:pointer;

                svg {
                    @include position(absolute, 50%, null, null, 50%);
                    @include transform(translate(-50%, -50%));
                    fill: btnColor(whiteColor);
                }

                &:hover{
                    background: linear-gradient(45deg, #70B9CC, #7790A9);
                    fill: btnColor(whiteColor_hover);
                }
                &:active{
                    background: linear-gradient(45deg, #519EB2, #5C7898);;
                    fill: btnColor(whiteColor_active);
                }
            }

            .player_text{
                @include position(absolute, 7px, null, null, 36px);
                @include size(130px, null);

                float:left;
                text-align:center;
                span{
                    @include caption;
                    @include no-select;
                    color: subColor(primary);
                }
            }

            .player_bg{
                @include size(202px, 32px);
                display: block;
            }
        }

        .viewer_logo{
            @include position(fixed, null, null, 16px, 16px);
            img{
                @include size(32px, 24px);
                @include no-select;
            }
        }
    }
}