// Modules and Variables
@import './base/_mixins';

// 만약 공용 css를 넣어야 할 경우 넣을 것.

html {
    font-size: 16px;
}

body {
    @include size(100vw, 100vh);
    overflow-x: hidden;
    overflow-y: auto;
}

*,
*::after,
*::before {
    @include box-sizing(border-box);
}


::-webkit-scrollbar {
    @include size(1px, 1px);
}

::-webkit-scrollbar-button {
    @include size(1px, 1px);
}

.open {
    display: block !important;
    visibility: visible !important;
}

.close {
    display: none !important;
    visibility: hidden !important;
}

// full 조건 css
.full {
    width: 100vw !important;
    height: 100vh !important;

    #img_sample{
        width: 78vw !important;
    }
}